################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/33Whales.SmallCafe/bin/Debug/net47
/33Whales.SmallCafe/obj
/ThirtyThreeWhales.SmallCafe/bin/Debug/net47
/ThirtyThreeWhales.SmallCafe/obj
/ThirtyThreeWhales.SmallCafe.Tests/bin/Debug
/ThirtyThreeWhales.SmallCafe.Tests/obj/Debug
/packages
